[submodule "thirdparty/hakoniwa-ros2pdu"]
	path = thirdparty/hakoniwa-ros2pdu
	url = https://github.com/toppers/hakoniwa-ros2pdu.git
[submodule "thirdparty/nolman"]
	path = thirdparty/nolman
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/hakoniwa-core-cpp-client"]
	path = thirdparty/hakoniwa-core-cpp-client
	url = https://github.com/toppers/hakoniwa-core-cpp-client.git
