[submodule "thirdparty/nolman"]
	path = thirdparty/nolman
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/hakoniwa-core-pro"]
	path = thirdparty/hakoniwa-core-pro
	url = https://github.com/hakoniwalab/hakoniwa-core-pro.git
